@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}

body{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
a{
    display: inline-block;
}
.contianer{
    width: 90%;
    margin: 100px auto;
}
.btn{
    padding: 14px 35px;
    background-image: linear-gradient(to right, orange,red);
    border-radius: 25px;
    color: #fff;
    margin-top: 25px;
}

.mobile-manu{
    display: none;
}

.close{
     width: 100%;
}

nav{
    
    width: 100%;
    padding: 20px 80px;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px #888;
    background: #fff;
     
    // height: 80px;
    .logo{
        a{
            color: tomato;
            text-transform: uppercase;
            font-size: 35px;
        }
    }
    ul{
        display: flex;
        li{
            a{
                padding: 10px 25px;
                color: #222;
                transition: 0.4s;
                &:hover{
                    color: tomato;
                }
            }
        }
    }
}


#hero {
    .row{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 40px;
        align-items: center;
        justify-content: space-between;
        .col{
             
            h2{
                font-size: 60px;
                font-weight: 600;
                span{
                    color: tomato;
                }
            }
            p{
                color: #888;
                margin: 25px 0;
               
            }
            img{
                position: relative;
                width: 90%;
                height: auto;
                z-index: -1;
               
            }
        }
    }
}


#contact {
    background: rgba(210, 180, 140, 0.278);
    // padding: 50px 0;
    padding-top: 50px;
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-content: space-between;
        align-items: center;
        .col{
            h2{
                font-size: 50px;
                font-weight: 600;
                color:#555 ;
               
            }
            p{
                color: rgb(41, 41, 41);
                margin: 25px 0;
                line-height: 2;
            }
            img{
                width: 50%;
            }
        }
    }
}


#recipies{
    .header{
        width: 50%;
        margin: 50px auto;
        text-align: center;
        h2{
            font-size: 40px;
            color: #555;
        }
        p{
            color: #555;
            margin: 15px 0;
        }
    }
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        
        .col{
            border-radius: 10px;
            box-shadow: 0px 0px 30px rgb(159, 159, 159);
            padding: 50px;

            h3{
                font-size: 30px;
                color: #222;
                line-height: 2;
            }
            p{
                color: #888;
                line-height: 2;
            }
            img{
                width: 100%;
                height: 300px;
            }
        }
    }
}


#number-counte {
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 20px #ccc;
        border-radius: 15px;
        .col{
            text-align: center;
            padding: 100px ;
            h2{
                font-size: 45px;

            }
            p{
                color: #777;
            }
            
        }
    }
}

footer {
    width: 100%;
    padding: 50px ;
    background: #222;
    text-align: center;
    h2{
        font-size: 50px;
        color: #777;

        span{
            color: tomato;
        }
    }
    p{
        color: #777;
        i{
            color: red;
        }
    }
}






@import "_responsiv.scss";