@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

a {
  display: inline-block;
}

.contianer {
  width: 90%;
  margin: 100px auto;
}

.btn {
  padding: 14px 35px;
  background-image: -webkit-gradient(linear, left top, right top, from(orange), to(red));
  background-image: linear-gradient(to right, orange, red);
  border-radius: 25px;
  color: #fff;
  margin-top: 25px;
}

.mobile-manu {
  display: none;
}

.close {
  width: 100%;
}

nav {
  width: 100%;
  padding: 20px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px #888;
          box-shadow: 0px 0px 20px #888;
  background: #fff;
}

nav .logo a {
  color: tomato;
  text-transform: uppercase;
  font-size: 35px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  padding: 10px 25px;
  color: #222;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav ul li a:hover {
  color: tomato;
}

#hero .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero .row .col h2 {
  font-size: 60px;
  font-weight: 600;
}

#hero .row .col h2 span {
  color: tomato;
}

#hero .row .col p {
  color: #888;
  margin: 25px 0;
}

#hero .row .col img {
  position: relative;
  width: 90%;
  height: auto;
  z-index: -1;
}

#contact {
  background: rgba(210, 180, 140, 0.278);
  padding-top: 50px;
}

#contact .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .row .col h2 {
  font-size: 50px;
  font-weight: 600;
  color: #555;
}

#contact .row .col p {
  color: #292929;
  margin: 25px 0;
  line-height: 2;
}

#contact .row .col img {
  width: 50%;
}

#recipies .header {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

#recipies .header h2 {
  font-size: 40px;
  color: #555;
}

#recipies .header p {
  color: #555;
  margin: 15px 0;
}

#recipies .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

#recipies .row .col {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px #9f9f9f;
          box-shadow: 0px 0px 30px #9f9f9f;
  padding: 50px;
}

#recipies .row .col h3 {
  font-size: 30px;
  color: #222;
  line-height: 2;
}

#recipies .row .col p {
  color: #888;
  line-height: 2;
}

#recipies .row .col img {
  width: 100%;
  height: 300px;
}

#number-counte .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px #ccc;
          box-shadow: 0px 0px 20px #ccc;
  border-radius: 15px;
}

#number-counte .row .col {
  text-align: center;
  padding: 100px;
}

#number-counte .row .col h2 {
  font-size: 45px;
}

#number-counte .row .col p {
  color: #777;
}

footer {
  width: 100%;
  padding: 50px;
  background: #222;
  text-align: center;
}

footer h2 {
  font-size: 50px;
  color: #777;
}

footer h2 span {
  color: tomato;
}

footer p {
  color: #777;
}

footer p i {
  color: red;
}

@media screen and (max-width: 992px) {
  .btn {
    padding: 10px 25px;
  }
  .mobile-manu {
    display: block;
    cursor: pointer;
  }
  .mobile-manu i {
    font-size: 50px;
  }
  nav {
    padding: 20px;
  }
  nav .logo a {
    font-size: 4vw;
  }
  nav ul {
    display: block;
    position: absolute;
    top: 95px;
    background: #000;
    right: 0;
    width: 0%;
    height: 70vh;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 99999;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    color: #fff;
    padding: 20px 0;
  }
  #hero .row {
    display: block;
  }
  #hero .row .content-img {
    text-align: center;
  }
  #hero .row .col {
    width: 100%;
  }
  #hero .row .col h2 {
    font-size: 5vw;
  }
  #hero .row .col p {
    font-size: 2vw;
  }
  #hero .row .col img {
    width: 50%;
  }
  #contact {
    padding: 50px 0;
  }
  #contact .row {
    display: block;
  }
  #contact .row .content-img {
    text-align: center;
  }
  #contact .row .content-img img {
    width: 30%;
  }
  #contact .row .col {
    margin: 30px 0;
  }
  #contact .row .col h2 {
    font-size: 5vw;
  }
  #contact .row .col p {
    font-size: 2vw;
  }
  #recipies .header {
    width: 80%;
  }
  #recipies .header h2 {
    font-size: 5vw;
  }
  #recipies .header p {
    font-size: 2vw;
  }
  #recipies .row {
    display: block;
  }
  #recipies .row .col {
    padding: 20px;
    margin: 40px 0;
  }
  #recipies .row .col img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #recipies .row .col h3 {
    font-size: 4vw;
  }
  #recipies .row .col p {
    font-size: 2vw;
  }
  #number-counte .row {
    display: block;
  }
  #number-counte .row .col {
    padding: 50px;
  }
  footer h2 {
    font-size: 5vw;
  }
  footer p {
    font-size: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */